/* 
    Created on : 26 oct. 2021, 13:41:41
    Author     : Sasha
*/

form{
    margin: 0 10px;
}
legend{
    font-size: small;
}
table{
    margin: auto;
    width: 100%;
    table-layout: fixed;
    /*margin-left: 50px;*/
}
td, th{
    vertical-align: sub;
}
tr{
}
span{
    color: red;
    font-size: small;
    
}

fieldset.signup table{
    width: 50%;
}

label.obligatorio:after{
    content: "*";
    color: red;
}

ul.inputRadio{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.inputRadio li input{
    margin: 0 15px;
}

textarea{
    width: 100%;
    resize: vertical;
}

label.cbox{
    font-size: small;
}