/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 sept. 2021, 13:24:26
    Author     : daw2
*/
.cambiar{
    color: blue;
}
.porhacer{
    color: red;
}


h1{
    margin-top: 1%;
}
div{
    display: inline-block
}


table{
    width: 100%;
    text-align: center;
}

td:first-child{
    width: 80%;
    text-align: left;
    padding-left: 2%;
    border: 1px solid gainsboro;
}

.exe{
    width: 50px;
}